.billingBody {
    margin-left: 15em;
    margin-right: 15em;
    margin-bottom: 5em;
}

.addButton {
    margin-right: 1em;
}

.actionButton {
    margin-right: 1em;
}

.searchButton {
    margin-right: 1em;
    margin-left: 1em;
}
